services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend.dev
    volumes:
      - ./backend:/app
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    command: tail -f /dev/null

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend