services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend.dev
    volumes:
      - ./backend:/app
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env

    command: go run main.go

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:5173"
    depends_on:
      - backend