services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend.dev
    volumes:
      - ./backend:/app
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    command: tail -f /dev/null

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"