body{
    background-color: rgb(137, 137, 137);
}

.frame {
    width: 95vw;
    /* height: 100vh; */
    border: 6pt solid #FFFFFF;   /* 白 6pt 枠線 */
    box-sizing: border-box;      /* 枠込みで画面サイズに収める */
    
    margin: 20px auto; /* 上下のマージンを10px、左右のマージンを自動で中央寄せ */
}