body{
    background-color: rgb(137, 137, 137);
}

.skills {
  color: white;
  padding: 40px;
}

.skills-title {
  font-size: 32px;
  margin-bottom: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;

  display: inline-block;
}

.skills > *:not(.skills-title) {
  margin-bottom: 30px;
}