body {
  background-color: rgb(137, 137, 137);
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px 80px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .stats-grid {
    grid-template-columns: 1fr; /* 1列固定 */
    gap: 20px; /* gapも縮める */
    padding: 12px; /* 余白も少し小さく */
  }
}
