body{
    background-color: rgb(137, 137, 137);
}

.card {
    display: flex;
    gap: 40px;
    padding: 40px;
    color: white;
}

.left {
    width: 30%;
    height: 50%;
}
.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 8px solid #cfcfcf;
    box-shadow: 0 0 0 4px #8a8a8a inset;
}

.right {
  flex: 1;
}

.box {
    background-color: rgb(0 0 0 / 0.5);
    border: 3px solid #dcdcdc;
    border-radius: 20px;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 20px;
    position: relative;
}

.name-box .top-row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
}

.name {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.qr-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: white;
    color:rgb(0 0 0 / 0.5);
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.middle-row {
    display: flex;
    gap: 20px;
}

.history-box {
    flex: 3;
}

.history-header {
    display: flex;
    justify-content: space-between; /* 左右に分ける */
    align-items: center;
}

.Registration{
    text-align: left;

}

.Registration-date {
    text-align: right;
}
.big {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.level-box {
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center;
    padding: 0;
}
.level-title {
    font-size: 25px;
    margin-top: 0;
    text-align: left;
}
.level {
    font-size: 60px;
    margin-top: 10px;
    text-align: right;
}

.title-box .title-neme {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0;
}
.title-neme{
    text-align: center;
}

.update-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: white;
    color:rgb(0 0 0 / 0.5);
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    max-width: 100px;
}

.updated {
    margin-top: 0;
    text-align: right;
    font-size: 18px;
    text-align: right;
}

.heading{
    font-size: 20px;
}