body{
    background-color: black;
}

.container {
    padding: 0px;
}

.about-card {
    color: white;
    max-width: 900px;
}

.about-title {
    /* font-family: "Yu Mincho", "Hiragino Mincho ProN", "MS Mincho", serif; */
    font-family: 'Comic Sans MS', 'Cursive', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0; 
}

.about-text {
    margin-top: 0; 
    font-size: 16px;
    text-indent: 1em;
}